<div class="row">
  <div class="row">
    <h1>Discussionssss</h1>
    <% @discussions.each do |discussion| %>
      <div class="column is-8">
        <h1 class="title is-2 has-text-grey discussion-title"><%= link_to discussion.title,discussion%></h1>
        <h3 class="subtitle is-5 has-text-grey-lighter">by <%= discussion.user.username %> in <%= link_to discussion.channel.channel, discussion.channel %></h3>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <% if discussion_author(discussion) %>
        <div class="buttons">
            <%= link_to 'Edit Discussion', edit_discussion_path(discussion), class:'button'%>
            <%= link_to 'Delete', discussion_path(discussion), method: :delete, data: { confirm: "Delete discussion?" }, class:'button' %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="content"><%= markdown(discussion.content) %></div>


  </div>
    </div>
    <% end %>
  </div>