<div class="channel-content">   
  <p class="title-topic">Discussions</p><hr>
  <div class="discussions">
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-12">
          <div class="topic-discussion">
            <%= link_to discussion do %>
              <span class="title is-5"><%= discussion.title %></span>
            <% end %>
          </div>
          <div class="content-topic">
            <%= truncate(strip_markdown(discussion.content), length: 140) %>
            <p><small><em>
              by <%= discussion.user.username %> in
              <% if discussion.channel %>
                <%= link_to discussion.channel.channel, discussion.channel %>
              <% end %>
              </em></small>
            </p>
          </div>
          <% if discussion_author(discussion) || has_role?(:admin) %>
          <div>
            <%= link_to edit_discussion_path(discussion), class:"action" do %>
              <i class="fa fa-pencil text-success" aria-hidden="true"></i>
            <% end  %>
            <%= link_to discussion, method: :delete, data: { confirm: 'Are you sure?' }, class:"action" do %>
              <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>     
            <% end  %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>